markdown
pyserial
protobuf
dotmap
pexpect
pyqrcode
tabulate
timeago
webencodings
requests
pyparsing
twine
autopep8
pylint
pytest
pytest-cov
pyyaml
pytap2
pdoc3
pypubsub
pygatt; platform_system == "Linux"
