markdown
pyserial
protobuf>=5.26.0
dotmap
pexpect
pyqrcode
tabulate
timeago
webencodings
requests
pyparsing
twine
autopep8
pylint
pytest
pytest-cov
hypothesis
pyyaml
pytap2
pdoc3
pypubsub
bleak
packaging
mypy
mypy-protobuf
types-protobuf
types-tabulate
types-requests
types-setuptools
types-PyYAML
