name: Run Python Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install markdown pdoc3 webencodings pyparsing twine autopep8 pylint pytest
      - name: Run pylint
        run: pylint --exit-zero meshtastic
      - name: Run tests with pytest
        run: pytest
